<nav class="navbar navbar-expand-lg menu">
  <a class=" nav-link text-light" href="#">ENCORE LAB</a>
  <a class=" nav-link text-light" href="#">Home</a>
  <a class=" nav-link text-light" href="#">Favourites</a>
</nav>
<div class="row">
  <div class="container-fluid">
    <div class=" mt-4 mb-4 d-flex col-5 mx-auto ">
      <input class="form-control me-2 borders" 
      type="search" 
      placeholder="SEARCH" 
      aria-label="Search" 
      name="search" 
      [(ngModel)]="search"
      (click)="iraresultadobusqueda()">
      
    </div>
  
</div>
</div>
    
 
<div class="container">
    <div class="row d-flex flex-row">
            <div (mouseover)="botonvisible()" (mouseout)="botoninvisible()"*ngFor="let item of lista"class="card borders m-1" style="width: 18rem;">
                  <a href="#" class= "btn btn-primary" [ngClass]="visible">Añadir a favoritos</a>
                    <img src={{item.download_url}} class="card-img-top" alt="...">
                    <div class="card-body">
                      
                      <h5 class="card-title"> {{item.author}} </h5>
                      <p class="card-text" >{{item.text}}</p>
                     
                    </div>
                  </div>
    </div>
    
</div>

